version: "3.9"

services:
  fontapp:
    build: .
    container_name: finatina
    ports:
      - "8501:8501"
    volumes:
      - ./data:/app/data
    restart: always

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    restart: always
